<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><a href="/">Blog</a></h1>
      <% if user_signed_in? %>
        <div class="option">
          <%= link_to "SignOut", destroy_user_session_path, method: :delete %>
          <%= link_to "New", new_blog_path %>
        </div>
      <% else %>
        <div class="option">
          <%= link_to "SignIn", new_user_session_path %>
          <%= link_to "SignUp", new_user_registration_path %>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
